/* Master CSS */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: lightgrey;
}

.container {
  width: 800px;
  background-color: white;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
}

.outputText {
  font-size: 8pt;
}

.safe {
  color: green;
}

.danger {
  color: red;
}

.risk_High {
  color: red;
}

.risk_Low {
  color: green;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

#noResults {
  text-align: center;
  font-weight: bold;
}
