/* Master CSS */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
  font-family: 'Ubuntu', sans-serif;
}

/* Body */
body {
  background-image: url('../img/wall.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
}

/* Container */
.container {
  width: 1000px;
  background-color: white;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Text Tweaks */
.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.outputText {
  font-size: 8pt;
}

/* Safe and Danger */
.safe {
  color: green;
}

.danger {
  color: red;
}

/* Risk Factors */
.risk_High {
  color: red;
}

.risk_Medium {
  color: orange;
}

.risk_Low {
  color: green;
}

/* Form */
.form-layout {
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* No Results */
#noResults {
  text-align: center;
  font-weight: bold;
}

/* Crime Table */
.table-border {
    border-collapse: collapse;
}

.table-border table, th, td {
    border: 1px solid black;
}

.table-border th, td {
  padding: 5px;
}

/* Result Section */
div#resultStats {
  background-color: lightgoldenrodyellow;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid palegoldenrod;
  border-radius: 5px;
}
